.container {
  display: inline;
  padding: 5px 3px 5px 3px;
  border: 1px solid black;
  padding: 2px 5px 2px 5px;
  cursor: pointer;
}

.container:hover {
  background-color: lightgray;
}

.selected { 
  background-color: bisque;
}