html {
  box-sizing: border-box;
  font-size: 62.5%;  /* =10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.4rem;
}

.hidden {
  display: none !important;
}

.maxHeight {
  height: 100%;
}

.maxWidth {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-justify-content--center {
  justify-content: center;
}

.flex-align-items--center {
  align-items: center;
}